<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="index">Developers of Data</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="services">Services <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="survey">Survey </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup">Sign Up</a>
        </li>
      </ul>

      <!-- login form goes here -->

      <!--   -->
      <button type="button" class="btn d-inline mr-sm-2" data-toggle="modal" data-target="#loginModal">
        Login
      </button>

      <!--end login form -->
    </div>
  </nav>
</header>

<div id="home">
  <div class="container">
    <!-- login modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="email" id="email-input" placeholder="Email">
              <input type="password" class="form-control mr-sm-2" id="password-input" placeholder="Password">
              <button type="submit" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#popUpWindow">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end login modal -->
    <div class="row">
      <div class="col-8 offset-2">
        <!--Get rid of this message -->
        
        <h2>Services</h2>
        <!--  -->

           
               
                <span class="sr-only">Website Review Tool & SEO Checker</span>
                  

       

                <div class="cta-col col-xs-12 col-sm-7">
                    <div class="cta-col-inside">
                        <p class="cta-title">
                            <strong class="color-warning-dark">Unwrap Developers For Data's features!</strong>
                            Totally free for 14 days.                        </p>
                    </div>
                </div>
                <div class="cta-col col-xs-12 col-sm-3">
                    <div class="cta-col-inside last">
                        <a href=""
                            class="btn btn-warning btn-lg btn-cta btn-block js-trial-btn">
                            Free Trial                        </a>
                    </div>
                </div>
            </div>
        </div>

                    <ul class="nav nav-tabs pricing-nav-tabs hidden">
                <li class="tab active" aria-controls="monthly">
                    <a class="tab-link js-switch-monthly gtm-pricing-monthly-tab" href="#" data-toggle="tab">
                        Billed monthly                    </a>
                </li>
                <li class="tab tab-warning" aria-controls="yearly">
                    <a class="tab-link js-switch-yearly gtm-pricing-yearly-tab" href="#" data-toggle="tab">
                        <strong>Save 20%</strong> on a yearly plan                    </a>
                </li>
            </ul>
        
    </div>

    <div class="-flexible -wrap">
                  <div class="col-sm-4 col-xs-12 price-box price-box-hollow">
            <div class="v2pro js-price-box ">
                <h3 class="price-box-title">Pro</h3>
                <p class="price-box-subtitle">For your website</p>
                <img class="plan-illustration pro"
                  src="https://assets.woorank.com/assets/img/pages/pricing/pro.svg"
                  alt="Pro">
                
<div class="price price-tag js-price js-price-monthly ">
    <span class="prefix-currency"></span>
    <span class="price-currency">
        US$    </span>
    <span class="price-amount">
        59          <span class="price-amount-decimal">
                .99          </span>
            </span>
    <span class="price-timeframe">/month</span>
</div>

<div class="price js-price price-tag js-price-yearly hidden">
    <span class="prefix-currency"></span>
    <span class="price-currency">
        US$    </span>
    <span class="price-amount">
        470    </span>
    <span class="price-timeframe">/year</span>
</div>

                
                

                <div class='feature-list-container'>
    <h3 class="pricing-feature-title">Pro Includes</h3>
    <p class="pricing-feature-subtitle">Some great features:</p>
    <ul class="feature-list pricing-list">
        <li>Unlimited Reviews</li><li>Optimize your website with a <strong>Project</strong> including backlink analysis, mobile friendliness test and more!</li><li>Track 50 keywords in <strong>Keyword Tool</strong> for position, volume and performance.</li><li>Use <strong>Site Crawl</strong> to crawl up to 2000 pages for technical errors and content issues.</li>
        <li>Stay on top of your progress with weekly <strong>Email Digest</strong> updates.</li><li>Monitor your website 24/7 and receive <strong>Uptime Notifications</strong> if it goes offline.</li><li>Developers For Data <strong>Help Center</strong> and online support available day and night.</li><li>Available in <strong>3 languages</strong>: English, Spanish, Russian.</li>    </ul>
</div>
            </div>
          </div>
                        <div class="col-sm-4 col-xs-12 price-box price-box-hollow">
          <div class="v2prm js-price-box ">
            <h3 class="price-box-title">Premium</h3>
            <p class="price-box-subtitle">Preferred by professionals</p>
            <img class="plan-illustration premium"
             src="https://assets.woorank.com/assets/img/pages/pricing/premium.svg"
             alt="Premium">
                
<div class="price price-tag js-price js-price-monthly ">
    <span class="prefix-currency"></span>
    <span class="price-currency">
        US$    </span>
    <span class="price-amount">
        179          <span class="price-amount-decimal">
                .99          </span>
            </span>
    <span class="price-timeframe">/month</span>
</div>

<div class="price js-price price-tag js-price-yearly hidden">
    <span class="prefix-currency"></span>
    <span class="price-currency">
        US$    </span>
    <span class="price-amount">
        1,430    </span>
    <span class="price-timeframe">/year</span>
</div>

                
                

    <h3 class="pricing-feature-title">Premium Includes</h3>
    <p class="pricing-feature-subtitle"><span class="label label-success">Everything in Pro</span> plus:</p>
    <ul class="feature-list pricing-list">
        <li>Projects for up to <strong>5 websites</strong>.</li><li>Create and download <strong> white-label PDF reports</strong> customized with your branding.</li><li>Track <strong>250 keywords</strong> with Keyword Tool.</li><li>Crawl <strong>10,000 pages</strong> with Site Crawl.</li><li>Use our <strong>LeadGen tool</strong> to generate leads on your own website</li><li><strong>Priority support</strong> whenever you need it.</li>    </ul>
</div>
          </div>
        </div>
                          <div class="col-sm-4 col-xs-12 price-box price-box-hollow">
              <div class="enterprise js-price-box ">
                  <h3 class="price-box-title">
                    Enterprise                  </h3>
                  <p class="price-box-subtitle">
                    Used by teams                  </p>
                  <img class="plan-illustration enterprise"
                   src="https://assets.woorank.com/assets/img/pages/pricing/enterprise.svg"
                   alt="Enterprise">
                                        
<div class="price price-tag js-price js-price-monthly ">
    <span class="prefix-currency">from </span>
    <span class="price-currency">
        US$    </span>
    <span class="price-amount">
        249          <span class="price-amount-decimal">
                .99          </span>
            </span>
    <span class="price-timeframe">/month</span>
</div>

<div class="price js-price price-tag js-price-yearly hidden">
    <span class="prefix-currency">from </span>
    <span class="price-currency">
        US$    </span>
    <span class="price-amount">
        2,390    </span>
    <span class="price-timeframe">/year</span>
</div>
                  <a class="btn btn-lg btn-grey js-enterprise-contact gtm-pricing-enterprise-contact-button"
                    data-toggle="modal"
                    href="#zen-contact"
                    data-target="#zen-contact">
                        Contact Us                  </a>
                    <div class='feature-list-container'>
    <h3 class="pricing-feature-title">Enterprise plan</h3>
    <p class="pricing-feature-subtitle"><strong>Contact us</strong> if you need extra or custom features like:</p>
    <ul class="feature-list pricing-list">
        <li>Team access.</li><li>Extra Projects.</li><li>Unlimited keyword tracking.</li><li>Custom API access with third-party integration.</li><li>Bulk Review generation.</li><li>Data mine millions of website reviews for market research and insights</li><li>Phone support.</li>    </ul>
</div>
              </div>
          </div>
            </div>
</div>

<!-- FAQs -->
<div class="container page-container">

    <div class="page-header text-center">
    <h4 class="h1">FAQ</h4>
    <h5 class="h2">
      <a
      href="https://help.woorank.com/hc/en-us/sections/360000016905-Billing"
      target="_blank">
        Payment & Cancellation      </a>
    </h5>
</div>

<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
    <div class="panel-group pricing-faq" id="pricing-faq" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="pricing-faq-0">
                    <h4 class="panel-title">
                        <a class="pricing-faq-title collapsed"
                            role="button"
                            data-toggle="collapse"
                            data-parent="#pricing-faq"
                            href="#pricing-faq-collapse-0"
                            aria-expanded="false"
                            aria-controls="pricing-faq-collapse-0">
                                        <svg class="icon icon-chevron-down" role="img" style="">
                <use xlink:href="#chevron-down"></use>
            </svg>                            <span class="icon-text">Your Free Trial Period</span>
                        </a>
                    </h4>
                </div>
                <div id="pricing-faq-collapse-0"
                    class="panel-collapse collapse pricing-faq-content"
                    role="tabpanel"
                    aria-labelledby="#pricing-faq-0">
                    <div class="panel-body">
                        <p><span style="font-weight: 400;"><strong>Anyone can try Developers For Data for free during their 14-day free trial period.</strong> That’s full access to Reviews, Projects, Keyword Tool and Site Crawl for 2 weeks. So we won’t charge your credit card or PayPal account (<a href="https://help.Developers For Data.com/hc/en-us/articles/360000140405">except for a $1 hold to validate your credit card</a>) until your trial ends. During this time we’ll help get your Developers For Data account up and running so you’ll be able to get the most out of your trial.</span></p>
<p><span style="font-weight: 400;">In that 14-day window, you can cancel your trial with 0 commitment on your end. </span></p>
<p><span style="font-weight: 400;">At the end of your trial, we’ll send you a quick heads up that your Developers For Data subscription is about to begin and we’ll then charge your credit card or PayPal account. </span></p>
<p><span style="font-weight: 400;">Developers For Data has a <a href="https://www.woorank.com/en/p/tos">48-hour refund policy</a>, so if you forget to cancel your subscription we’ll be happy to refund your payment the next two days. Please contact us at <a href="mailto:support@developersfordata.com">support@developersfordata.com</a>.</span></p>
<p><span style="font-weight: 400;">In general, refunds can take a couple of days to be reflected on your credit card or PayPal statements. Refunds issued to international credit cards can take more. </span></p>                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>