<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="index">Developers for Data</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="services">Services </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="survey">Survey <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="signup">Sign Up</a>
        </li>
      </ul>
      <!-- login button -->
      <button type="button" class="btn d-inline mr-sm-2" data-toggle="modal" data-target="#loginModal">
        Login
      </button>
      <!--end login form -->
    </div>
  </nav>
</header>


  <div class="container" style="margin-top:20px;">
   
    <div class="row">
      <div class="col-8 offset-2">
        <form id="signup-form">
        <h2>Sign Up</h2>
        <h6>Please fill in this form to create an account.</h6>
        <hr>
        <label for="name">Name</label>
        <input type="text" placeholder="Enter Full name" name="name" required="required" id="full-name">
        <label for="company_name">Company</label>
        <input type="text" placeholder="Enter Your Company's Name" name="company-name" required="required" id="company-name">
        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="email" required="required" id="email">

        <label for="psw">Password</label>
        <input type="password" placeholder="Enter Password" name="psw" required="required" id="password">
        <div class="clearfix">
          <button type="button" class="cancelbtn">Cancel</button>
          <button type="submit" class="signupbtn">Sign Up</button>
        </div>
     </form>
     
      </div>
    </div>
      <!-- login modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="login form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="email" id="email-input" placeholder="Email">
              <input type="password" class="form-control mr-sm-2" id="password-input" placeholder="Password">
              <button type="submit" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#popUpWindow">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end login modal -->
  </div>

<script src="js/signup.js"></script>